@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf)
    format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: 'Montserrat' ,sans-serif; 
    --fonte-destaque: 'Bebas Neue', Arial;
    --font-android: 'android', Arial;
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    padding-top: 40px;
}
header > h1{
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 3.1em;
    font-weight: 300;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
header > p {
    color: white;
    text-align: center;
    font-size: 1em;
    margin: auto;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);  
    max-width: 600px;
    padding-bottom: 50px;
}
header > nav{
text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.202);
padding: 15px;
}
header > nav > a{
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
}
header > nav > a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 10px;
    transition-duration: .5s;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    font-size: 1em;
}
main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 0 0 15px 15px;
}
main> .titulos{
    font-family: var(--font-android);
    font-weight: 400;
    color: #063d1e;
}
main h1{
    font-size: 1.8em;
    margin-bottom: 20px;
}
main h2{
    font-size: 1.3em;
    margin: 10px;
    padding: 0px 5px 0px 5px;
    background-image: linear-gradient(to right,var(--cor1), transparent);
}
main p{
    margin-bottom: 15px;
    text-indent: 25px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.9em;
}

main strong{
    color: var(--cor5);
}

main a{
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor5);
    padding: 3px;
}
main a::after{
    content: '\1F517';
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main > .pequeno{
    display: block;
    margin: auto;
    min-width: 350px;
}

main img {
    display: block;
    margin: auto;
    border-radius: 15px;
    max-width: 100%;
}

main .video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
} 

.video > iframe{
    border-radius: 15px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    box-shadow: 5px 4px 16px -1px #0000005f; 
    border-radius: 15px;
    padding: 0 20px 20px 20px;
    margin-bottom: 15px;
}

aside h3{
    color: white;
    min-width: 100%;
    background-color: var(--cor4);
    border-radius: 15px 15px 0 0;
    margin: 0 -20px 10px -20px;
    padding: 10px;
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    margin: 10px;
    columns: 2;    
}

footer{
    background-color: var(--cor5);
    color: white;
    min-width: 90%;
    margin:20px 0 0 0;
    text-align: center;
    padding: 5px;
}

footer a{
    font-weight:600;
    text-decoration: none;
    color: white;   
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}


